@charset "utf-8";
html, html * { padding: 0; margin: 0;
    box-sizing: border-box;
    font-family: Gotham, Helvetica Neue, Helvetica, Airal,sans-serif;}
img { width: 100%; max-width: 100%; height: auto;
    vertical-align: middle;}
footer { background-color:#dbecf1;    padding: 20px 30px;}
header { padding: 32px;}
body { margin-left: auto; margin-right: auto;    background-color:#e6f4f8; }


.style-logo { display: block;
        width: 192px;  
       margin-left: auto; 
       margin-right: auto;}
.style-nav ul { list-style-type: none;}
.style-nav ul li a { text-decoration: none;
    color:#2f322a; text-align: center; 
    display: block; padding:8px; 
    text-transform: uppercase;}

.hero  { /*border: 1px solid red;*/
        background-image: url(./images/hero.jpg);
        background-size: cover;
        padding:20px 20px 50px 20px;
        text-align: center;
        color:#fff;}
h1 { font-size: 57px;
    text-transform: uppercase;
    font-weight: 200; margin-bottom: 60px;}

h2 { font-size: 30px;text-transform: uppercase;
    font-weight: 200; margin-bottom: 23px;}

h3 { font-size: 16px; text-transform: uppercase;
    font-weight: 200; margin-bottom: 120px; }
h4 {font-size: 16px;font-weight: 200;
	margin-bottom: 35px;}

p { font-size: 16px; font-weight: 400;
    margin-bottom: 35px;}

.button { text-decoration: none;
        border:2px solid #fff;
    padding: 8px 30px;
    border-radius: 30px;
    color:#fff;     }
.info-box-tan { background: #b9a88e; color:#fff;
        padding:30px 20px 60px;
        text-align: center;
    }
.info-box-dark { background: #2d2d35;
        color:white; padding:30px 20px 60px;
        text-align: center;
}
.footer-text { font-size: 13px; 
    margin-bottom: 20px;}
.col { width: 100%;}


.row:before, .row:after {
    content: ""; display: block;
}
.row:after { clear:both;}

@media screen and (min-width:768px){
    body { max-width: 778px;}
    /*.style-nav ul li { display: inline-block;}*/
        /*.style-nav ul { text-align: center;}*/
     .style-nav ul {  display: flex;
         justify-content:space-between;
       align-items: center;  }
     .style-nav ul li {  margin: 5px;    }
   

    h1 { font-size: 40px; margin-bottom: 90px;}
    h2 { margin-bottom: 16px;}
    .col-md-one-half { width: 50%;}
    .col { float: left; padding:0px 7px 14px;}
}

@media screen and (min-width:1024px){
    body { max-width: 1200px;
       /* border: 2px solid red;*/}
    .style-logo { float: left;}
    .style-nav { float: right;}
    .col-lg-one-fourth { width: 25%;}
    
}







